.ipynb_checkpoints

**/data/

**/__pycache__/

.vscode/
.idea/
.venv/
.DS_Store

# Generated plots
src/training_paradigms/Federated_Learning/plots/accuracy.png
src/training_paradigms/Federated_Learning/plots/loss.png
results/*.png
accuracy.png
loss.png
