.ipynb_checkpoints

**/data/

**/__pycache__/

.vscode/
.idea/
.venv/
.DS_Store

# Generated plots
src/Federated_Learning/accuracy.png
src/Federated_Learning/loss.png
results/*.png
accuracy.png
loss.png
